body {
   background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);
}

* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
}

a:hover {
  text-decoration: none;
}

.container.mybox {
  box-sizing: border-box;
  margin-top: 70px;
}
.container.mybox .row {
  text-align: center;
  padding: 0px;
}
.container.mybox .row h2 {
  color: #fff;
  font-weight: 900;
  margin-bottom: 30px;
}
.container.mybox .row .myMovieCard {
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 30px;
  color: #333;
  font-weight: 900;
  font-size: 16px;
  border-bottom: 5px solid #96069b;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.container.mybox .row .myMovieCard:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  transition: 0.3s;
}
.container.mybox .row .myMovieCard p {
  margin-bottom: 0;
}
.container.mybox .row .myMovieImg {
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  height: 0;
  padding-bottom: 300px;
}
.container.mybox .row .myMovieImg img {
  max-width: 100%;
}
@media (max-width: 768px){
  .container.mybox .row .myMovieImg{
    height: auto;
    padding-bottom: 0px;
  }
  .container.mybox .row .myMovieImg img {
    width: 100%;
    height: auto;
  }
}